.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    align-items: center;
    padding: 0;
    margin-bottom: 36px;
  }
}